.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 136, 255);
    width: 100%;
    text-align: center;
}

.foot ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; 
    justify-content: space-around; 
}

.foot li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.foot li a:hover:not(.active) {
    background-color: #0bea3c;
}

.active {
    background-color: #04AA6D;
}
